* {
    box-sizing: border-box;
}

main.light {
    background-color: orange;
    border: 5px solid white;
    color: white;
}

main.dark {
    background-color: red;
    border: 5px solid black;
    color: white;
}